p {
  text-wrap: auto;
}

.ant-checkbox-wrapper {
  margin-bottom: 20px;
  font-size: 16px;
}

.ant-card {
  background: #f6f9ff
}

.ant-card-head-title {
  h2 {
    margin: 20px 0 15px 0;
    font-size: 24px;
    font-weight: 500;
    color: #012970;
  }

  p {
    font-size: 16px;
    font-weight: normal;
  }
}