@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  /* Colors */
  --primary-color: #25343F;
  --secondary-color: #FF9B51;

  /* Text colors  */
  --text-color: #000000;  

  /*Background colors */  
  --background-color: white;
  --background-color-1: #F2F2F2;
  --background-color-2: #EAE4D5;
  --background-color-3: #B6B09F;
}

a {
  text-decoration: none !important;
}

.btn-primary {
  background: #0085A1 !important;
  color: white !important;
  padding: 20px 30px !important;
  border: none !important;
  text-transform: uppercase !important;
}

.btn-primary:hover {
  background: #006f85 !important;
  color: white !important;
}