.layout-admin {
  .header {
    border-bottom: 1px solid #ddd;

    .header-container {
      display: flex;

    }

    .logo {
      font-size: 24px;
      font-weight: bold;
      color: var(--text-color);
      border-right: 1px solid #ddd;
      padding: 10px 20px;
      width: 200px;

      a {
        text-decoration: none;
      }
    }

    .nav-wrap {
      display: flex;
      flex: 1;
      justify-content: space-between;
      padding: 10px 20px;
    }

    &--collapsed {
      .logo {
        width: 80px;
      }
    }
  }

  .main {
    padding: 20px;
    background-color: #F9FBFD;
  }

  .sider {
    border-right: 1px solid #ddd;
    min-height: calc(100vh - 56px);
  }
}


.ant-card {
  background-color: white !important;
}