.hero {
  background-size: cover;
  background-image: url('../../assets/img/home-bg.jpg');
  padding: 0;

  h1 {
    z-index: 1;
    font-size: 48px;
    font-weight: 700;
    color: #ffffff;
  }

  p {
    z-index: 1;
    font-size: 24px;
    color: #dddddd;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #212529;
    opacity: 0.5;
    z-index: -1;
  }

  &-content {
    padding: 128px 0;
  }
}